# {{ ansible_managed }}
## /etc/logrotate.d/rekall
/var/log/rekall.log {
    rotate 14
    daily
    missingok
    notifempty
    delaycompress
    compress
    postrotate
        invoke-rc.d rsyslog rotate > /dev/null
    endscript
}
