{{ ansible_managed | comment }}
[Unit]
Description=Rekall agent service
After=network.target syslog.target
Documentation=https://github.com/google/rekall/tree/master/rekall-agent

[Service]
Type=simple
PrivateTmp=true
Restart=on-failure
ExecStart={{ rekall_virtualenv }}/bin/rekall -v --agent_config {{ rekallagent_etc }}/client.config.yaml agent

[Install]
WantedBy=multi-user.target
